---
title: Qi
excerpt: Qishiqi | 七十七
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    {% include common-head.html %}
    {% include head-icons-rel.html %}
    <link rel="stylesheet" href="/blob/master/assets/css/index.css">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="home" itemscope itemtype="http://schema.org/Person">
    <div class="main">
        <div class="content">
            <div class="my-photo">
                <img alt="my photo" src="https://avatars2.githubusercontent.com/u/16437334?s=400&u=1aa84b5d3a2cfa76b88fe8b13b9ecae3bae7052a&v=4" />
            </div>
            <h1 itemprop="name" class="title-text">{{ site.author.name }}</h1>
            {% include components/follow-me.html %}
            <p><a class="social-link blog" title="Visit my blog." itemprop="sameAs" href="/blog" target="_self">Visit My Blog</a></p>
        </div>
    </div>
</div>
{% if site.isdebug == false %}
{% include utils/google-analytics.html %}
{% endif %}
</body>
</html>